/* Global */
:root {
    --homina-black: #1b1e22;
    --homina-focus-yellow: #ffce1f7a;
    --homina-yellow: #ffce1f;
    --homina-white: #f1f6f8;
    --homina-dark-grey: #282d33;
    --homina-grey: #525c69;
	--homina-red: #FB4343;
	--homina-light-red: #ff9797;
	--homina-focus-red: #fb43433f;
    --button-hover: #fbda60;
    --button-focus: #bb9920;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--homina-black);
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--homina-white);
    font-size: 17px;
}

/* Root container */
#root {
    width: 100vw;
    height: 100vh;
}

/* Links */
a {
    color: var(--homina-yellow);
    text-decoration: none;
}

a:hover {
    color: var(--button-hover);
}

a:focus {
    color: var(--button-focus);
    outline: none;
}

/* Labels */
label {
	display: block;
}

/* Inputs */
input {
	width: 100%;
	margin: 5px 0 15px 0;
	padding: 5px 10px;
	font-size: 17px;
	border: 1px solid var(--homina-grey);
	border-radius: 6px;
	caret-color: var(--homina-yellow);
	background-color: var(--homina-dark-grey);
	outline: none;
	color: var(--homina-white);
}

input:focus {
	border: 1px solid var(--homina-yellow);
	box-shadow: 0 0 0 3px var(--homina-focus-yellow);
}

/* Primary buttons */
input.primary {
    padding: 10px 20px;
	margin: 0;
    border: none;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: bold;
    background-color: var(--homina-yellow);
    color: var(--homina-black);
}

input.primary:hover {
    background-color: var(--button-hover);
}

input.primary:active {
    background-color: var(--button-focus);
    outline: none;
}

input.primary:disabled {
    background-color: var(--homina-white);
    color: var(--homina-grey);
}

/* Error message */
.error {
	padding: 10px 20px 10px 10px;
	margin-bottom: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: var(--homina-focus-red);
	border: 1px solid var(--homina-red);
	border-radius: 6px;
	color: var(--homina-light-red);
}

.error a {
	color: var(--homina-light-red);
}

/* Forms */
.form-container {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-head {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-head h1 {
    font-weight: 400;
    font-size: 25px;
    margin: 20px 0;
	text-align: center;
}

.form-body {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
	display: flex;
	flex-direction: column;
}

/* Form submit button */
.form-body input.primary {
	margin-top: 10px;
}

.form-foot {
	width: 100%;
    border-radius: 10px;
    padding: 20px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

/* For screens at least 600px wide */
@media only screen and (min-width: 600px) {
    #root {
        align-items: center;
    }

	.error {
		width: 400px;
	}

    .form-body, .form-foot {
        border: 1px solid var(--homina-grey);
		width: 400px;
    }
}